<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dialogs</title>
</head>
<body>
<header>
    <nav>
        <a href="/home">Home</a> |
        <a href="/dialogs">Dialogs</a> |
        <a href="/posts">Posts</a>
    </nav>
</header>
<h1>Dialogs</h1>
<div>
    <form method="post" action="/dialogs/create">
        <label for="login">Enter login:</label>
        <input type="text" id="login" name="login" required>
        <button type="submit">Create Dialog</button>
    </form>
</div>
<div>
    <h2>Your Dialogs</h2>
    <ul>
        <li th:each="dialog : ${dialogs}">
            <a th:href="@{/dialogs/{id}(id=${dialog.ID})}">
                <span th:text="${dialog.name}"></span>
            </a>
        </li>
    </ul>
</div>
</body>
</html>